/vendor/
composer.lock

/node_modules/

/.env
.env.*
!.env.example

.phpunit.result.cache
coverage/
reports/

.php-cs-fixer.cache
/phpstan/cache/
/psalm/cache/

.idea/
.vscode/
*.code-workspace
.DS_Store
Thumbs.db

/build/
/dist/
/docs/build/

/vendor-bin/**/vendor/
/vendor-bin/**/composer.lock
/vendor-bin/**/composer.phar
